body {
    background: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header, nav, footer {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    height: 100px;
    margin: 10px auto;
    width: 960px;
    line-height: 100px;
}

.content {
    width: 960px;
    background: #777;
    margin: 10px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    text-align: center;
    width: 495px;
    height: 250px;
    background: #ebebeb;
    color: #777;
    display: inline-block;
    line-height: 40px;
}

aside {
    width: 440px;
    height: 250px;
    background: #ebebeb;
    color: #777;
    display: inline-block;
    float: right;
    line-height: 100px;
    text-align: center;
}

section article {
    width: 400px;
    height: 180px;
    background-color: #777;
    color: #ebebeb;
    margin: 1% auto;
}

article h3, p {
    width: 90%;
    margin-left: 5%;
    background: #ebebeb;
    color: #777;
    text-align: center;
    border: 0;
}
